.wrap {
    background: gray;
    width: 1200pxkk;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;



}
.box {
    width: 400px;
    height: 100px;

}
.a {
    background: silver;
    flex-shrink: 1;
}
.b {
    background: cornflowerblue;
    flex-shrink: 2;
}

