.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    height: 100vh;
    background: url("image/bg.png") no-repeat center/cover;
    }

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;
}

.nav__item img {
    width: 20px;
}

.nav {
    display: flex;
    column-gap: 23px;
}

.nav__item a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.header__contakt {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid #ffffff;
    padding-left: 15px;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}

.header__title h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin: 10px 24px;
}

.header__title {
    font-weight: normal;
    margin-top: 203px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
    margin: 5px;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}

.header__title p::before {
    margin-right: 10px;
}
.header__title p::after {
    margin-left: 10px;
}

.header__main .header__button {
    margin-top: 35px;
}

.header__button {
    cursor: pointer;
}

.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.history {
    display: flex;
    height: 100vh;
    background: white;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
}

.menu__slogan {
    display: flex;
    margin: 30px;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    position: absolute;
    top: -100px;
}

.magic,
.quality,
.price {
    display: flex;
    width: 349px;
    height: 328px;
    box-shadow: 0 0 20px;
}

.nav__magic {
    justify-content: center;
    padding: 5px 20px;
    background: white;
}

.magic__img {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.magic__bolt a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
}

.magic__bolt span {
    color: #D67E35;
}

.magic__item a {
    display: flex;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #656363;
    justify-content: center;
    margin-top: 13px;
}